html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: 'Open sans', sans-serif;
    min-height: 100vh;
    margin: 0px;
}

.menu {
    padding: 0px;
    margin: 100px 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

.menu a {
    margin: 0 20px;
    padding: 5px;
    color: black;
    display: inline-block;
}

.wrapper {
    margin: 0 auto;
    max-width: 500px;
    font-size: 20px;
    line-height: 2;
    position: relative;
}

a {
    text-decoration: none;
    color: black;
    background: rgba(0,0,0,0.05);
    border-radius: 20px;
  }